<ion-content fullscreen class="form-wrapper">
  <div class="form-container">
    <div class="form-box">
      <ion-item lines="none">
        <ion-label position="stacked">NIP</ion-label>
        <ion-input placeholder="Value"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Nama</ion-label>
        <ion-input placeholder="Value"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Tipe Cuti</ion-label>
        <ion-input placeholder="Value"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Tanggal</ion-label>
        <ion-input placeholder="Value" type="date"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Alasan Pengajuan</ion-label>
        <ion-input placeholder="Value"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Sisa Cuti</ion-label>
        <ion-input placeholder="2"></ion-input>
      </ion-item>

      <ion-button expand="block" class="submit-button" (click)="submitForm()">
        Submit
      </ion-button>
    </div>
  </div>
</ion-content>
