<ion-content fullscreen class="form-wrapper">
  <div class="form-container">
    <div class="form-box">
      <ion-item lines="none">
        <ion-label position="stacked">NIP</ion-label>
        <ion-input [(ngModel)]="nip" readonly></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Nama</ion-label>
        <ion-input [(ngModel)]="nama" readonly></ion-input>
      </ion-item>

      <!-- Pilih Tipe Cuti -->
      <ion-item lines="none">
        <ion-label position="stacked">Tipe Cuti</ion-label>
        <ion-select
          [(ngModel)]="tipeCuti"
          (ionChange)="onTipeCutiChange()"
          interface="popover"
        >
          <ion-select-option value="tahunan">Cuti Tahunan</ion-select-option>
          <ion-select-option value="istimewa">Cuti Istimewa</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Tanggal</ion-label>
        <ion-input type="date" [(ngModel)]="tanggal"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Alasan Pengajuan</ion-label>
        <ion-input placeholder="Value"></ion-input>
      </ion-item>

      <!-- Tampilkan Sisa Cuti -->
      <ion-item lines="none" *ngIf="tipeCuti">
        <ion-label position="stacked"
          >Sisa Cuti {{ tipeCuti === 'tahunan' ? 'Tahunan' : 'Istimewa'
          }}</ion-label
        >
        <ion-input [value]="sisaCuti" readonly></ion-input>
      </ion-item>

      <ion-button expand="block" class="submit-button" (click)="submitForm()">
        Submit
      </ion-button>
    </div>
  </div>
</ion-content>
