<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>AVENTREX</ion-title>
      <ion-avatar slot="end">
        <img src="assets/icon/logo.png" />
      </ion-avatar>
    </ion-toolbar>
  </ion-header>

  <ion-content class="chat-page">
    <div class="chat-header">
      <ion-icon name="person-outline" class="profile-icon"></ion-icon>
      <span class="chat-identity">2012372 AHMAD MUHAMMAD</span>
    </div>

    <div class="chat-body">
      <!-- Di sini bisa ditambahkan list pesan jika ada -->
    </div>

    <div class="chat-footer">
      <ion-textarea
        placeholder="Add a message"
        auto-grow="true"
        class="chat-input"
      ></ion-textarea>
      <ion-button class="send-button">Send</ion-button>
    </div>
  </ion-content>
</ion-content>
